.shadow{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 500ms;
}
.shadow:hover{
    background-color: rgba(205, 103, 25, 0.754);
    color: palegreen;
    border: 2px solid royalblue;
}