.link{
    text-decoration: none;
    display: block;
    font-weight: bold;
    cursor: pointer;
    margin: 7px 0;
    text-align: left;
}
 
.bg{
    background-color: #010001;
    color: #dddbdd;
    padding: 15px 0;
    font-style: italic;
}

@media screen and (max-width: 776px) {
    .link{
        text-align: center;
        display: inline-block;
        margin: 0 10px;
    }
  }
  
.LTitle {
    border-radius: 31px;
    /* height: 12px; */
    font-size: 27px;
    font-weight: bolder;
}
 
  .btnColor {
    background-color: #0fe50fc4;
    border: none;
    color: rgb(0 0 0);
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 17px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}
  .btnG {
    background-color: #f7f7f7;
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}
